body{
    background-color: rgb(226, 146, 112) !important;
    
}
#container{
    
    padding:7px;
    margin-left: 38%;
    display:grid;
    gap: 50px;
    border-radius: 3px solid black;

   
}
#image{
    width: 190px;
    height:160px ;
    padding: 15px;

}
#card {
    box-shadow: 2px 2px 10px 1px rgb(26, 7, 19);
    padding: 10px 10px 10px 10px;
    margin: 10px;
}
